<!DOCTYPE html>
<html lang="en">
<head class="dark">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}
        {{ title}}
          | 
          {% endif %} 
          Fanmade</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/player.js')}}"></script>
    <!-- Tailwind config-->
    <script src="{{ url_for('static', filename='js/tailwind.config.js') }}"> </script>
    <!-- SVG Manager-->
    <script>
        static_path = window.location.origin + "{{ url_for('static', filename='svg/') }}";
    </script>
</head>
<body class="bg-fanmadelightdark-900 text-fanmadelightdark-50">
    <nav class="bg-gradient-to-r from-fanmadepurple-700 to-fanmadeviolet-900 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div><a href="{{ url_for('index') }}" class="text-xl font-bold">Fanmade</a>{% if current_user.is_admin %}<a href="{{url_for('index')}}" class="text-sm"> Admin</a>{% endif %}</div>
            <div class="relative">
                <input type="text" class="p-2 pl-10 pr-4 rounded-full bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search...">
                <svgload name="search" class="fill-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2 w-5 y-5"></svgload>
              </div>
            <div class="space-x-4">
                {% if current_user.is_authenticated %}
                    <a href="/upload" class="font-bold">Upload</a>
                    <a href="/logout" class="font-bold">Logout</a>
                    <p><a href="/artist/@{{current_user.username}}" class="text-center">{{current_user.artistName}} <b>-</b> @{{current_user.username}}</a></p>
                {% else %}
                    <a href="/register" class="font-bold">Register</a>
                    <a href="/login" class="font-bold">Login</a>
                    <p href="/">Anonymous</p>
                {% endif %}
                </div>
            </div>
        </nav>
    
    <div class="container mx-auto p-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="bg-blue-800 border-blue-500 text-blue-200 px-4 py-3 rounded relative" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    {% include "parts/credits.html" %}

    {% if not player_unavailable %}
        <div id="music-player" class="fixed bottom-0 left-0 w-full bg-fanmadelightdark-800 text-white p-4 items-center justify-between hidden">
            <div id="track-info" class="flex items-center space-x-4">
                <img id="track-cover" src="" alt="Track Cover" class="w-12 h-12 hidden">
                <div>
                    <p id="track-title" class="font-bold">No track playing</p>
                    <p id="track-artist" class="text-sm text-gray-400">-</p>
                </div>
            </div>
            <audio id="audio-player" controls class="w-1/2"></audio>
            <div class="flex items-center space-x-4">
                <!-- Botón Prev -->
                <button id="prev-button" class="p-2 rounded">
                    <svgload name="skipPrevious" class="fill-fanmadelightdark-200"></svgload>
                </button>
                <!-- Botón Loop -->
                <button id="loop-button" class="p-2 rounded">
                    <svgload name="repeat" class="fill-fanmadelightdark-500 loop-icon"></svgload>
                    <svgload name="repeat" class="fill-fanmadelightdark-200 hidden loop-icon"></svgload>
                    <svgload name="repeatOne" class="fill-fanmadelightdark-200 hidden loop-icon"></svgload>
                </button>
                <!-- Botón Next -->
                <button id="next-button" class="p-2 rounded">
                    <svgload name="skipNext" class="fill-fanmadelightdark-200"></svgload>
                </button>
                <!-- Botón Close -->
                <button id="close-player" class="bg-red-500 text-white p-2 rounded">Close</button>
            </div>
        </div>
    {% endif %}
    
    <div class="h-[80px]"></div>
</body>
<script>
  function closeCredits() {
    const modal = document.getElementById('creditsModal');
    if (modal) {
      modal.classList.add("hidden");
    }
  }
  function openCredits(id) {
        const modal = document.getElementById('creditsModal');
        if (modal) {
            modal.classList.remove("hidden");
        }

        // Realizar la solicitud al API para obtener los créditos
        fetch(`/api/v1/credits/${id}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Seleccionar el div donde se van a mostrar los créditos
                const creditsList = document.getElementById('credits-list');
                
                // Limpiar cualquier contenido previo en el div
                creditsList.innerHTML = '';

                // Agregar cada crédito al div
                data.forEach(credit => {
                    const creditDiv = document.createElement('div');
                    
                    // Crear el <strong> para el nombre del crédito
                    const strongElement = document.createElement('strong');
                    strongElement.textContent = credit.name;
                    creditDiv.appendChild(strongElement);

                    // Agregar cada artista como un <p> separado
                    credit.artists.forEach(artist => {
                        const artistElement = document.createElement('p');
                        artistElement.textContent = artist;
                        creditDiv.appendChild(artistElement);
                    });

                    creditsList.appendChild(creditDiv);
                });
            })
            .catch(error => {
                console.error('Error fetching credits:', error);
            });
    }

</script>
<script src="{{ url_for('static', filename='js/svgmanager.js')}}"></script>
</html>