{% extends "base.html" %}

{% block content %}
<div class="max-w-md mx-auto bg-fanmadelightdark-800 text-fanmadelightdark-50 p-6 rounded-lg shadow-md space-y-2">
    <div class="max-w-md mx-auto bg-yellow-600 text-fanmadelightdark-50 p-6 rounded-xl">
        <h1 class="text-3xl font-bold mb-6">Under maintanance.</h1>
        <p class="text-lg">Currently the site doesn't have a file storage system, due to that we are unable to let users upload music.<br/>
            <i><a href="/artist/@crate">@crate</a>, main developer of Fanmade</i>
        </p>
    </div>
</div>
{% endblock %}